<div class="start-page">
  <div class="container">
    <h2 class="start-page__title">Welcome to the dashboard!</h2>
    <p class="start-page__subtitle">
      This app is the visual tool that empowers your team to manage any type of project, workflow, or task tracking.
      Create any amount of boards and tasks to be super productive. Customize it all for how your team works best. Just
      sign up, create a board, and
      you’re
      off!
    </p>
    <img class="start-page__img" src="../../../../assets/img/start_bg.png" alt="start page image">
  </div>
</div>
