@import "variables";

* {
  box-sizing: border-box;
}

li {
  display: inline-block;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

html {
  @media screen and (max-width: $mobile) {
    font-size: 12px;
  }
}
