.header {
  min-height: 40px;
  width: 100%;
  position: sticky;
  display: flex;
  align-items: center;

  &__toolbar {
    display: grid;
    grid-template-columns: auto 1fr auto auto;

    &__item {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &:first-of-type {
        justify-content: flex-start;
      }
    }
  }
}
